
/*-----MASTER-----*/

main{
	overflow-x: 0;
	padding:0px;
	margin: 0px;
}

body{
	background-color: white;
	padding:0px;
	margin:0px;
	overscroll-behavior: none;
}

h1{
	font-family: aktiv-grotesk, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 10vh;

	padding:0px;
	margin:0px;

	color:black;

	cursor: pointer;
}

h2{
	font-family: aktiv-grotesk, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 10vh;

	padding:0px;
	margin:0px;

	color:black;
}

h3{
	font-family: aktiv-grotesk, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 5.5vh;
	padding: 5vh;
}

p{
	font-family: aktiv-grotesk, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 2.8vw;
	padding: 4vh;

}

/* HOW DO I DO THIS? MAKE LINK HOVER ZOOM

.a:hover{
	transform: scale(1.5);
	cursor: pointer;
}*/

.logo{
	padding:80px;
	position: fixed;
	margin:auto;
	width:350px;
	z-index: 200;
}


.logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:350px;
}

.divider1{
	height:30vh; 
}

.divider2{
	height:-5vh; 
}

.divider3{
	height:10vh; 
}

.space{
	padding:40;
}



/*----HOME----*/

.projects{

display:flex;
grid-template-columns:1fr 1fr;
/*background-color:red;*/ 
}

.project {
  padding: 0px;
  margin-left:3.4vh;
  margin-right:3.4vh;


  transition: transform .5s;
  /*border:1px solid blue;*/
  padding:50px;
}

.project:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.project img {
	max-height:45.7vh;
}

				/*----SUB GRID----*/
				.grid {
						transform:scale(1.2);
						display: grid;
						grid-template-columns: 25vh 25vh;
						grid-template-rows: 25vh 25vh;
						padding:5.7vh;
						padding-right:9vh;
						/*padding-bottom:17vh;*/
						width:43vh;
						height:43vh;
						margin: auto;
						margin-bottom: 2vw;
				}


				.grid:hover {
					transform: scale(1.5);
					cursor: pointer;
				}

				.grid-item {
				  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
				position:relative;
				transition: transform .4s;
				text-align: center;
				/*border:1px solid blue;*/
				}

				.grid-item img{
				        max-height: 100%;  
				        max-width: 100%; 
				        position: absolute;  
				        top: 0;  
				        bottom: 0;  
				        left: 0;  
				        right: 0;  
				        margin: auto;
				        text-align: center;
				}

				.grid-item:hover {
					transform: scale(1.6);
					cursor: pointer;
					z-index: 20;
				}



/*-----XESTO-----*/

.xestoVideo {
	display: block;
	padding:auto;
	margin:auto;
	width:40vh;
	text-align: center;
}

.xestoVideo video{
	height:90vh;
}






/*------GENERATIVE CHAIRS-----

.images-grid{
	display:grid;
	width:60%;
	margin:auto;
	text-align: center;
}


.rotation img{
		max-height: 100%;  
        max-width: 100%;  
        margin: auto;
        align-content: center;
        object-fit: cover;
}*/


.images-grid{
	display:flex;
	/*column-gap: 1vw;*/
	text-align: center;
	width:100%;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.images-grid img{
	width:49.5vw;
}




/*------PROFILE-----*/

.me{
	margin-right: 0px;
	padding-right: 0px;
}

.meDescription{
	margin-top: -2vw;
}

.gallery{
	height:400px;
	display: flex;
	margin:auto;
	padding: 4vh;
	padding-bottom: 0vh;	
}

.photosOfMe{
/*background-color: green;*/
  width: 400px;
  height:400px;
  text-align: center;
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
}

.photosOfMe img{
height:22vw;
}



/*------UBER EATS AR-----*/

.wholePage {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.wholePage img{
	height: 100%;
	width:100%;
	padding-bottom: 0px;
	margin-bottom: 0px;
}




/*APPLE GAMING*/

.ads{
	display:flex;
	/*column-gap: 1vw;*/
	text-align: center;
}

.ads img{
	width:49.5vw;
}




/*XESTO LOGO*/

.xestoLogo{
	display:flex;
	/*column-gap: 1vw;*/
	text-align: center;
}

.xestoLogo img{
	width:49.5vw;
}








						@media screen and (max-width: 1200px) {
						    body{
						        /*background-color: red;*/
						    }

						    main{
							/*overflow-x: 0;
							overflow-y: 0;*/
						    }

						    .divider1{
							height:15vh; 
							}

							.divider2{
							height:-10vh; 
							}

.logo {
  width:40vw;
  padding:80px;
}

.logo img{
  width:100%;
}


						   /*.logo img{
						    	z-index: 100;
						    	width:50vw;
						    }*/

						    .projects{


							display:flex;
							width: 95vw;
							flex-direction: column;
							/*background-color:red;*/ 
							justify-content: center;
							margin-left: 15vw;
							/*padding-left: 9vw;*/

							}

							.project{
							text-align:center;
							margin-right: 0px;
							margin-left: 0px;
							padding-right: 0px;
							padding-left: 0px;
							}

							/* MAKE IT SO HOVERING ON GRID DOESNT ALLOW HORIZONTAL SCROLL

							.grid-item:hover {
							transform: scale(1.6);
							cursor: pointer;
							z-index: 20;
						}*/

							.grid{
								margin-top: 0vh;
								padding-bottom: 10vh;
								width:43vh;
								height:43vh;
								margin: auto;
							}

							.thesis{
								padding-left: 0vh;
								padding-right: 0vh;
							}


													.me{
														margin-bottom: 0px;
														padding-bottom: 0px;
													}

													.gallery {
														display: none;
													}



.xestoVideo {
	display: block;
	padding:auto;
	margin:auto;
	text-align: center;
	object-fit: scale-down;
}

.xestoVideo video{
	height:80vh;
	margin:auto;
}



.images-grid{

display:flex;
flex-direction: column;
text-align: center;
width: 100%;
}

.images-grid img{
width:100vw;
}


/*APPLE GAMING*/

.ads{
	display:flex;
	flex-direction: column;
	/*column-gap: 1vw;*/
	text-align: center;
	width:100%;
}

.ads img{
	width:100vw;
}


div#firstOne   {-webkit-order: 1;}
div#secondOne  {-webkit-order: 2;}
div#thirdOne   {-webkit-order: 4;}
div#fourthOne  {-webkit-order: 3;}
div#fifthOne   {-webkit-order: 5;}
div#sixthOne   {-webkit-order: 6;}


/*XESTO LOGO*/

.xestoLogo{
	display:flex;
	flex-direction: column;
	/*column-gap: 1vw;*/
	text-align: center;
	width:100%;
}

.xestoLogo img{
	width:100vw;
}
													




}






