

main{
	overflow-x: 0;
	padding:0px;
	margin: 0px;
}

body{
	background-color: white;
	padding:0px;
	margin:0px;
	overscroll-behavior: none;
}

h1{
	font-family: aktiv-grotesk, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 10vh;

	padding:0px;
	margin:0px;

	color:black;

	cursor: pointer;
}

h2{
	font-family: aktiv-grotesk, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 10vh;

	padding:0px;
	margin:0px;

	color:black;
}

h3{
	font-family: aktiv-grotesk, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 5.5vh;
	padding: 5vh;
}

p{
	font-family: aktiv-grotesk, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 2.5vw;
	padding: 4vh;

}

/* HOW DO I DO THIS? MAKE LINK HOVER ZOOM

.a:hover{
	transform: scale(1.5);
	cursor: pointer;
}*/

.logo{
	padding:4.7vw;
	position: fixed;
	margin:auto;
	width:40vh;
	z-index: 200;
}


.logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:40vh;
}

.divider1{
	height:30vh; 
}

.space{
	padding:40;
}

.titre{
	padding:80px;
	padding-bottom:0px;
}

.subtitre{
	padding:80px;
	padding-top:30px;
	padding-bottom:0px;
}

.projects{

display:flex;
grid-template-columns:1fr 1fr;
/*background-color:red;*/ 
}

.project {
  padding: 0px;

  margin-left:3.4vh;
  margin-right:3.4vh;


  transition: transform .5s;
  /*border:1px solid blue;*/
  padding:50px;
}

.project:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.project img {
	max-height:45.7vh;
}


.grid {
		transform:scale(1.3);
		display: grid;
		grid-template-columns: 25vh 25vh;
		grid-template-rows: 25vh 25vh;
		padding:5.7vh;
		padding-right:9vh;
		width:43vh;
		height:43vh;
		margin: auto;
}


.grid:hover {
	transform: scale(1.5);
	cursor: pointer;
}

.grid-item {
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
position:relative;
transition: transform .4s;
}

.grid-item img{
        max-height: 100%;  
        max-width: 100%; 
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
}

.grid-item:hover {
	transform: scale(1.6);
	cursor: pointer;
	z-index: 20;
}

.xestoVideo{
	display: block;
	padding:auto;
	margin:auto;
	width:40vh;
	text-align: center;
}








.images-grid{
	display:grid;
	width:60%;
	margin:auto;
	text-align: center;
}


.rotation img{
		max-height: 100%;  
        max-width: 100%;  
        margin: auto;
        align-content: center;
        object-fit: cover;
}


.me{
	margin-right: 0px;
	padding-right: 0px;
}






						@media screen and (max-width: 1200px) {
						    body{
						        /*background-color: red;*/
						    }

						    main{
							overflow-x: 0;
							overflow-y: 0;
						    }

						    .divider1{
							height:20vh; 
							}



.logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:40vh;
}


						   /*.logo img{
						    	z-index: 100;
						    	width:50vw;
						    }*/

						    .projects{

							display:flex;
							width: 95vw;
							flex-direction: column;
							text-align: center;
							grid-template-columns:1fr 1fr;
							margin-right: 0px;
							margin-left: 0px;
							padding-right: 0px;
							padding-left: 0px;
							/*background-color:red;*/ 
							}

							.project{
							margin-right: 0px;
							margin-left: 0px;
							padding-right: 0px;
							padding-left: 0px;
							}

							/* MAKE IT SO HOVERING ON GRID DOESNT ALLOW HORIZONTAL SCROLL

							.grid-item:hover {
							transform: scale(1.6);
							cursor: pointer;
							z-index: 20;
						}*/

							.grid{
								margin-top: 0vh;
								padding-bottom: 10vh;
								width:43vh;
								height:43vh;
								margin: auto;
							}

							.thesis{
								padding-left: 0vh;
								padding-right: 0vh;
								max-width: 90%;
							}



													.images-grid{

														display:grid;
														width: 90vw;
														margin:auto;
														text-align: center;
													}

													.rotation img{
														width:100%;
															max-height: 100%;  
													        max-width: 100%;  
													        margin: auto;
													        text-align: center;
													        object-fit: cover;
													}

													.me{
														margin-bottom: 0px;
														padding-bottom: 0px;
													}


													






}











